.bordas-laterais{
    border: 3px solid black;
}

.botao-li{
   none
}

.arredondamento{
    border-radius: 30px;
}

.arredondamento-img{
    border-radius: 70px
}

.rodape li{
    border: none;
    
}