
/* 
    Created on : 14/12/2020, 21:41:15
    Author     : laura
*/

body{
    background-color: black;
     border: 2px solid greenyellow;
}
.container{
    background-color: white;
    
        
}
form label{
    font-weight: bolder;
}
